@import url(../global.css);

.friendListHeaderContainer {
    background-color: var(--main-bg-color);
}

.offline .nOdcT-MoOaXGePXLyPe0H {
    color: var(--text-color-dark);
}

.online .nOdcT-MoOaXGePXLyPe0H {
    color: var(--user-online-color);
}

.online ._2Ri005Wg_uXDTa71kdRbcN,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited {
    color: #ac4c9c;
}

:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu {
    fill: #ac4c4c;
}

.offline ._2Ri005Wg_uXDTa71kdRbcN,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.offline ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited {
    color: var(--nav-text-color);
}

.friendlistListContainer {
    color: #b4cff1;
}

.recentChatsGroup .friendGroup .groupName,
.friendGroup.taggedGroup .groupName,
.friendGroup.gameGroup .groupName {
    color: var(--icon-color);
}

.friendsui-container .SVGIcon_PlusCircle {
    stroke: var(--text-color-dark);
}

.friendlistListContainer {
    background: linear-gradient(to bottom right, var(--main-bg-color), #cde2f1);
}

.ingame .nOdcT-MoOaXGePXLyPe0H {
    color: var(--user-ingame-color);
}

.ingame.awayOrSnooze ._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:hover,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:active,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:visited {
    color: #337883;
}

.friendListFooter {
    background: var(--user-ingame-color);
}

.chatRoomListContainer {
    background: #cde2f1;
}

.ChatRoomListGroupItem .groupNameStatusContainer .chatRoomName {
    color: var(--text-color-dark);
}

.activeTab {
    background: var(--bg-color-dark-blue);
}

.friendsListSectionTitle {
    background: var(--bg-color-dark-blue);
}

.titleBarContainer.ChatTabs {
    background: var(--main-bg-color);
}

._2XZq-_f6npaQdAgeRzKIkz.Yd-DsWkYiFiYwpci--Yk_ {
    background: #cde2f1;
}

.chatDialogs {
    background: none;
}

.chatWindow {
    background: linear-gradient(to bottom right, var(--main-bg-color), #cde2f1);
}

.inviteAnotherFriendButton {
    background: #dcf0ff;
}

.chatWindow .chatEntry {
    background: #cde2f1;
}

._3Ule3rolhZJiBN4yNNtk1s {
    box-shadow: none;
    background: var(--main-bg-color);
}

._3Ule3rolhZJiBN4yNNtk1s .RVIs84dAE6wHcjH9tkinc {
    background: none !important;
    border: none;
}

.RVIs84dAE6wHcjH9tkinc {
    border: 1px solid var(--user-ingame-color);
    background: var(--bg-color-dark-blue) !important;
}
.RVIs84dAE6wHcjH9tkinc:hover {
    background: var(--main-bg-color) !important;
}

.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited,
.ingame._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
    color: #294d52;
}

.playerNameQuickAccessContainer .playerNicknameBracket {
    color: #337883;
}

.playerNicknameBracket {
    color: var(--nav-text-color);
}

._3XEmWmfQy7gbYJ4KJ1N9tp {
    color: #337883;
}

.quickAccessFriend .clanName {
    color: #006cff;
}

.friend.online {
    color: var(--user-online-color);
}

._1DsumfIa3MlkzUV9EXY5W9.in-game ._2n0EiKMGRP-r_BI5tDtttu {
    color: #256ad1;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName,
.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName {
    color: #486c68;
}

.msgText {
    color: var(--user-ingame-color);
}

.MultiUserChat .isCurrentUser .msgText {
    color: #14336e;
}

._113iuw_HlE_qSgt9cGWCSv {
    color: #14336e;
}

.OneOnOneVoiceRoomControls {
    background: #d1ffc4;
}

._1G1ACDfp4yn4cUO1xY7_d3 {
    color: var(--nav-text-color);
}

._3qYm9oxf8MdyvQDJgbfCrF ._10OzYaCdn7cgVMec9ozEJG {
    background: var(--main-bg-color);
}

._3qYm9oxf8MdyvQDJgbfCrF:hover {
    background-color: #d1ffc4;
}

._2m5YDddCyVhilOuWH-bTC1 {
    color: var(--user-online-color);
}

.isCurrentUser ._2m5YDddCyVhilOuWH-bTC1 {
    color: #08ff14;
}

._3qYm9oxf8MdyvQDJgbfCrF ._10OzYaCdn7cgVMec9ozEJG ._2ovvDFSsxzUoYuqzJsxecQ:hover {
    color: #b3f5d1;
}

._3qYm9oxf8MdyvQDJgbfCrF ._10OzYaCdn7cgVMec9ozEJG ._2ovvDFSsxzUoYuqzJsxecQ {
    color: #fff;
}

._1KPraihJAKiBwLJWmOlju2 {
    color: var(--user-ingame-color);
}

.VoiceToggle {
    background: linear-gradient(to bottom right, var(--voice-btn-color-star), var(--voice-btn-color-end)) !important;
}

.VoiceToggle.Inactive:hover {
    background: linear-gradient(to bottom right, var(--voice-btn-color-star), var(--voice-btn-color-end)) !important;
}

.Aupswi7-c-w3XwNO5cp2i:hover,
.Aupswi7-c-w3XwNO5cp2i:focus {
    background-color:
        #1a9fffbb 0%,
        #1a9fff 100%;
}

.GreenEnvelopeMenu,
.PP7LM0Ow1K5qkR8WElLpt {
    background: linear-gradient(to bottom right, var(--main-bg-color), #cde2f1) !important;
}

.EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf {
    background: var(--bg-color-light-gray) !important;
    color: var(--bg-color-dark-blue) !important;
}

.EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf:hover,
.EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf:focus {
    background: var(--bg-color-dark-blue) !important;
    color: #fff !important;
}

._1n7Wloe5jZ6fSuvV18NNWI {
    color: #000;
}

._1n7Wloe5jZ6fSuvV18NNWI:hover {
    background: var(--bg-color-dark-blue);
}

.RVIs84dAE6wHcjH9tkinc._3zOBeq5W4cNK3lRz_7aroW SVG,
.RVIs84dAE6wHcjH9tkinc.Aupswi7-c-w3XwNO5cp2i SVG {
    color: var(--bg-color-light-gray);
}

.friendsui-container .SVGIcon_TextRoom,
.friendsui-container .SVGIcon_Button.SVGIcon_TextRoom,
.friendsui-container .SVGIcon_VoiceRoom,
.friendsui-container .SVGIcon_Button.SVGIcon_VoiceRoom {
    color: var(--bg-color-light-gray);
}
